.container{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.tableContainer{
    width: fit-content;
}

.MuiTableContainer-root {
    width: fit-content !important;
    overflow-x: auto;
}
